
.backstretch{
  display: flex;
  width: auto;
  
}
.active{
  color:#01ac34;
}
a {
    transition: all 0.3s ease;
    text-decoration: none;
    
}
ar {
    transition: all 0.3s ease;
    position: relative;
    width: -20px;
    margin-left: auto;
    margin-right: auto;
    
}
ar button:hover{
  transition: ease-out 0.5s,#a00000;
}
ul {
    padding: 0;
}

a:hover {
    text-decoration: none;
}

button:focus {
    outline: none;
}

p {
    line-height: 1.9;
}

.tm-logo {
    margin-right: 20px;
}

.tm-slogan {
    font-size: 0.8rem;
}


/* Navigation */

.carousel-control-prev,
.carousel-control-next{
      bottom: -120%;
      color: aqua;
}

/* Page Background */

.tm-bg {
    position: absolute;
    left: 0;
    right: 0;
    width: 66%;
    height: 100%;
    display: flex;
    z-index: -1000;
}

.tm-bg-left,
.tm-bg-right {
    position: relative;
    margin: auto;
    width: 60%;
    height: 100%;
}

.tm-bg-right {
    background-color: rgba(77, 77, 77, 0.199);
}

.tm-bg-left {
    border-right: 230px solid rgba(120, 130, 131, 0);
    border-top: 100vh solid transparent;
}

.tm-bg-controls-wrapper {
    display: inline-block;
    margin-left: -150px;
}

.tm-bg-control {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 6px;
    cursor: pointer;
}

.tm-bg-control.active,
.tm-bg-control:hover {
    background-color: white;
}

.tm-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#mobile-box {
  width: 360px; }

.tm-row {
    display: flex;
}

.tm-col-left {
    width: 30%;
    height: 100%;
    padding-left: 00px;
    padding-right: 71px;
}

.tm-col-right {
    width: 30%;
    height: 100%;
    padding-left: 9px;
    padding-right: 0px;
}

.tm-content {
    max-width: 660px;
    margin-top: 50px;
    padding-right: 20px;
}
.tm-centerx {
  max-width: 100%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  flex-basis: 50%;
  
}
.tm-about {
    max-width: 525px;
}

::-webkit-scrollbar {
    --webkit-appearance: none;
    width: 10px;
}


::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #41e0f5fd;
    box-shadow: 0 0 1px rgba(255, 255, 255, .8);
}

@media screen and (min-width: 280px) and (max-width: 412px){
  ::-webkit-scrollbar-thumb {
    display: none;
    overflow-y: scroll;
    overflow-x: scroll;
  }
}

.tm-content-title {
    font-size: 1.5rem;
}

hr {
    border-top:2px solid white;
}

.btn {
    padding: 10px 25px;
    border-radius: 0;
}

.btn-big {
    padding: 9px 40px;
    font-size: 1.2rem;
    ;
}

.btn-primary {
    background-color: white;
    color: black;
    border: 0;
}

.btn-primary:hover {
    background-color: #9CC;
    color: black;
}

.tm-site-footer {
    padding: 40px 0 20px;
    max-width: 660px;
    font-size: 0.95rem;
}

.tm-col-footer {
    padding-left: 0;
}

.nav-link{
  display: inline-flex;
  
}

@media screen and (max-width: 980px){
  .nav-link{
    display: inline-flex;
    margin: 0 0 0 150px;

  }
}

.tm-text-link {
    color: white;
    display: inline-block;
    align-self: baseline;
}

.tm-text-link:hover,
.tm-text-link:focus {
    color: #9CC;
}


/* Service */

.tm-service-text {
    max-width: 365px;
}

.tm-service-img {
    margin-right: 25px;
}

.tm-service-img-r {
    margin-left: 25px;
}


/* Contact */

.form-control,
textarea {
    color: white;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #999A9B;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 10px 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.form-control:focus {
    color: white;
    background-color: transparent;
    box-shadow: none;
    border-color: #9CC;
    outline: none;
}

.mb-85 {
    margin-bottom: 85px;
}

.tm-contact-main {
    max-width: 690px;
}

.tm-contact {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
}
.tm-center {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.form-control::-webkit-input-placeholder {
    color: white;
}


/* Edge */

.form-control:-ms-input-placeholder {
    color: white;
}


/* Internet Explorer 10-11 */

.form-control::placeholder {
    color: white;
}


/* Style inputs, select elements and textareas */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    color: #ffffff;
    background-color: #25252556;
    border: 1px solid rgb(77, 76, 76);
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}


/* Style the label to display next to the inputs */

label {
    padding: 12px 12px 12px 0;
    color: #ffffff;
    display: inline-block;
}


/* Style the submit button */

input[type=submit] {
    background-color: #093a2e56;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
}


/* Style the container */

.container {
    border-radius: 5px;
    background-color: #000000;
    padding: 20px;
}


/* Floating column for labels: 25% width */

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}


/* Floating column for inputs: 75% width */

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (min-width:180px) and (max-width: 2920px) {
  body{
    display: flex;
    justify-content: space-between;
  }
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 1280px) and (min-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

@media screen and (max-width: 1280px) and (min-width: 280px) {
    
    .tm-page-right {
        padding-left: 20px;
        padding-right: 0px;
    }
}

@media (max-width: 1280px) and (min-width: 280px) {
  
    .tm-content {
        margin-top: 20px;
    }
    .tm-site-footer {
        padding-top: 40px;
    }
    .tm-col-left {
        width: 38%;
    }
    .tm-col-right {
        width: 60%;
        padding-left: 100px;
        padding-right: 30px;
    }
    .tm-col-footer {
        padding-left: 0;
    }
}

@media (max-width: 728px) and (min-width: 280px),
 (min-width: 280px) and (max-width: 928px) 
    {
    .tm-row {
        flex-direction: column;
    }
    .tm-col-left,
    .tm-col-right{
        width: 100%;
    }
    .tm-bg-left,
    .tm-bg-right{
      display: none;
    }
    .tm-bg {
        flex-direction: column;
    }
    .tm-bg-left {
        height: 200px;
        border-bottom: 50px solid rgba(0, 0, 0, 0.5);
        border-right: 0;
        border-top: 0;
    }
    .tm-bg-right {
        height: calc(100% );
    }
    .tm-bg-controls-wrapper {
        margin-left: 0;
        margin-top: 50px;
    }
    .tm-content {
        max-height: none;
        margin-top: 40px;
    }
    .tm-col-right {
        padding-top: 40px;
        padding-left: 30px;
    }
    .tm-col-footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 460px) {
    .tm-logo {
        margin-right: 15px;
    }
    .tm-sitename {
        font-size: 1.8rem;
    }
    .tm-slogon {
        font-size: 0.8rem;
    }
}

.navi .navi{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

@media screen and (min-width: 180px) and (max-width: 412px){
  .navi .bg-transparent{
    background-color: #0177ac;
  }
}

@media screen and (max-width: 450px),
(min-width: 280px) and (max-width: 830px),
(min-width: 992px) and (max-width: 1280px) {
    .tm-service-media {
        flex-direction: column;
    }
    .tm-service-media-img-l {
        flex-direction: column-reverse;
    }
    .tm-service-text {
        margin-top: 20px;
    }
    .tm-service-img {
        margin-right: 0;
    }
    .tm-service-img-r {
        margin-left: 0;
    }
    .gray-bg {
        background-color: #f5f5f5;
    }

   





    @media (max-width: 1280px),
(min-width: 280px) and (max-width: 830px),
(min-width: 992px) and (max-width: 1280px) {
    /* Blog 
    ---------------------*/
    .blog-grid {
      box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
      border-radius: 5px;
      overflow: hidden;
      background: #ffffff;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .blog-grid .blog-img {
      position: relative;
    }
    .blog-grid .blog-img .date {
      position: absolute;
      background: #fc5356;
      color: #ffffff;
      padding: 8px 15px;
      left: 10px;
      top: 10px;
      border-radius: 4px;
    }
    .blog-grid .blog-img .date span {
      font-size: 22px;
      display: block;
      line-height: 22px;
      font-weight: 700;
    }
    .blog-grid .blog-img .date label {
      font-size: 14px;
      margin: 0;
    }
    .blog-grid .blog-info {
      padding: 20px;
    }
    .blog-grid .blog-info h5 {
      font-size: 22px;
      font-weight: 700;
      margin: 0 0 10px;
    }
    .blog-grid .blog-info h5 a {
      color: #20247b;
    }
    .blog-grid .blog-info p {
      margin: 0;
    }
    .blog-grid .blog-info .btn-bar {
      margin-top: 20px;
    }
    
    
    /* Blog Sidebar
    -------------------*/
    .blog-aside .widget {
      box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
      border-radius: 5px;
      overflow: hidden;
      background: #ffffff;
      margin-top: 15px;
      margin-bottom: 15px;
      width: 100%;
      display: inline-block;
      vertical-align: top;
    }
    .blog-aside .widget-body {
      padding: 15px;
    }
    .blog-aside .widget-title {
      padding: 15px;
      border-bottom: 1px solid #eee;
    }
    .blog-aside .widget-title h3 {
      font-size: 20px;
      font-weight: 700;
      color: #fc5356;
      margin: 0;
    }
    .blog-aside .widget-author .media {
      margin-bottom: 15px;
    }
    .blog-aside .widget-author p {
      font-size: 16px;
      margin: 0;
    }
    .blog-aside .widget-author .avatar {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      overflow: hidden;
    }
    .blog-aside .widget-author h6 {
      font-weight: 600;
      color: #20247b;
      font-size: 22px;
      margin: 0;
      padding-left: 20px;
    }
    .blog-aside .post-aside {
      margin-bottom: 15px;
    }
    .blog-aside .post-aside .post-aside-title h5 {
      margin: 0;
    }
    .blog-aside .post-aside .post-aside-title a {
      font-size: 18px;
      color: #20247b;
      font-weight: 600;
    }
    .blog-aside .post-aside .post-aside-meta {
      padding-bottom: 10px;
    }
    .blog-aside .post-aside .post-aside-meta a {
      color: #6F8BA4;
      font-size: 12px;
      text-transform: uppercase;
      display: inline-block;
      margin-right: 10px;
    }
    .blog-aside .latest-post-aside + .latest-post-aside {
      border-top: 1px solid #eee;
      padding-top: 15px;
      margin-top: 15px;
    }
    .blog-aside .latest-post-aside .lpa-right {
      width: 90px;
    }
    .blog-aside .latest-post-aside .lpa-right img {
      border-radius: 3px;
    }
    .blog-aside .latest-post-aside .lpa-left {
      padding-right: 15px;
    }
    .blog-aside .latest-post-aside .lpa-title h5 {
      margin: 0;
      font-size: 15px;
    }
    .blog-aside .latest-post-aside .lpa-title a {
      color: #20247b;
      font-weight: 600;
    }
    .blog-aside .latest-post-aside .lpa-meta a {
      color: #6F8BA4;
      font-size: 12px;
      text-transform: uppercase;
      display: inline-block;
      margin-right: 10px;
    }
    
    .tag-cloud a {
      padding: 4px 15px;
      font-size: 13px;
      color: #ffffff8f;
      background: #ffffff2e;
      border-radius: 3px;
      margin-right: 4px;
      margin-bottom: 4px;
    }
    .tag-cloud a:hover {
      background: #fc5356;
    }
    
    .blog-single {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    
    .article {
      box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
      border-radius: 5px;
      overflow: hidden;
      background: #ffffff;
      padding: 15px;
      margin: 15px 0 30px;
    }
    .article .article-title {
      padding: 15px 0 20px;
    }
    .article .article-title h6 {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .article .article-title h6 a {
      text-transform: uppercase;
      color: #fc5356;
      border-bottom: 1px solid #fc5356;
    }
    .article .article-title h2 {
      color: #20247b;
      font-weight: 600;
    }
    .article .article-title .media {
      padding-top: 15px;
      border-bottom: 1px dashed #ddd;
      padding-bottom: 20px;
    }
    .article .article-title .media .avatar {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      overflow: hidden;
    }
    .article .article-title .media .media-body {
      padding-left: 8px;
    }
    .article .article-title .media .media-body label {
      font-weight: 600;
      color: #fc5356;
      margin: 0;
    }
    .article .article-title .media .media-body span {
      display: block;
      font-size: 12px;
    }
    .article .article-content h1,
    .article .article-content h2,
    .article .article-content h3,
    .article .article-content h4,
    .article .article-content h5,
    .article .article-content h6 {
      color: #2b2b2c0a;
      font-weight: 600;
      margin-bottom: 15px;
    }
    .article .article-content blockquote {
      max-width: 600px;
      padding: 15px 0 30px 0;
      margin: 0;
    }
    .article .article-content blockquote p {
      font-size: 20px;
      font-weight: 500;
      color: #fc5356;
      margin: 0;
    }
    .article .article-content blockquote .blockquote-footer {
      color: #20247b;
      font-size: 16px;
    }
    .article .article-content blockquote .blockquote-footer cite {
      font-weight: 600;
    }
    .article .tag-cloud {
      padding-top: 10px;
    }
    
    .article-comment {
      box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
      border-radius: 5px;
      overflow: hidden;
      background: #ffffff;
      padding: 20px;
    }
    .article-comment h4 {
      color: #20247b;
      font-weight: 700;
      margin-bottom: 25px;
      font-size: 22px;
    }
    img {
        max-width: 100%;
    }
    img {
        vertical-align: middle;
        border-style: none;
    }
    
    /* Contact Us
    ---------------------*/
    .contact-name {
      margin-bottom: 30px;
    }
    .contact-name h5 {
      font-size: 22px;
      color: #20247b;
      margin-bottom: 5px;
      font-weight: 600;
    }
    .contact-name p {
      font-size: 18px;
      margin: 0;
    }
    
    .social-share a {
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      text-align: center;
      margin-right: 10px;
    }
    .social-share .dribbble {
      box-shadow: 0 8px 30px -4px rgba(234, 76, 137, 0.5);
      background-color: #ea4c89;
    }
    .social-share .behance {
      box-shadow: 0 8px 30px -4px rgba(0, 103, 255, 0.5);
      background-color: #0067ff;
    }
    .social-share .linkedin {
      box-shadow: 0 8px 30px -4px rgba(1, 119, 172, 0.5);
      background-color: #0177ac;
    }
    
    .contact-form .form-control {
      border: none;
      border-bottom: 1px solid #2f2f3362;
      background: transparent;
      border-radius: 0;
      padding-left: 0;
      box-shadow: none !important;
    }
    .contact-form .form-control:focus {
      border-bottom: 1px solid #fc5356;
    }
    .contact-form .form-control.invalid {
      border-bottom: 1px solid #ff0000;
    }
    .contact-form .send {
      margin-top: 20px;
    }
    @media (max-width: 767px) {
      .contact-form .send {
        margin-bottom: 20px;
      }
    }
    
    .section-title h2 {
        font-weight: 700;
        color: #20247b;
        font-size: 45px;
        margin: 0 0 15px;
        border-left: 5px solid #fc5356;
        padding-left: 15px;
    }
    .section-title {
        padding-bottom: 45px;
    }
    .contact-form .send {
        margin-top: 20px;
    }
    .px-btn {
        padding: 0 50px 0 20px;
        line-height: 60px;
        position: relative;
        display: inline-block;
        color: #20247b;
        background: none;
        border: none;
    }
    .px-btn:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 30px;
        background: transparent;
        border: 1px solid rgba(252, 83, 86, 0.6);
        border-right: 1px solid transparent;
        -moz-transition: ease all 0.35s;
        -o-transition: ease all 0.35s;
        -webkit-transition: ease all 0.35s;
        transition: ease all 0.35s;
        width: 60px;
        height: 60px;
    }
    .px-btn .arrow {
        width: 13px;
        height: 2px;
        background: currentColor;
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 25px;
    }
    .px-btn .arrow:after {
        width: 8px;
        height: 8px;
        border-right: 2px solid currentColor;
        border-top: 2px solid currentColor;
        content: "";
        position: absolute;
        top: -3px;
        right: 0;
        display: inline-block;
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
}